body{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    text-align: center;
}

img:not(.gym-photo){
    max-width: 200px;
    max-height: 200px;
    
    border: 2px;
    border-radius: 25px;
}

.gym-photo{
    width: 400px;
    height: 200px;
}

.header, .footer{
    background-color: #1f2937;
}

.hero{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text, .links{
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.button1, .button2{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    
}

.join{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    gap: 20px;
    background-color: #3882f6;
    width: 800px;
    height: 80px;
}
.button1{
    border: none;
    margin-top: 10px;
}

.button2{
    border: solid white;
    }

.information-header{
    padding: 5px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
    
}

.info{
    max-width: 200px;
    
}

.quote{
    background-color: #e5e7eb;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-source{
    font-weight: bolder;
    text-align: end;
}

.footer{
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* adding style */



.links{
    display: flex;
    gap: 10px;

    list-style-type: none;
}
a{
    text-decoration: none;
    color: #f9faf8;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.top-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.bottom-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.services{
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin: 10px;
}

.join{
    display: flex;
    justify-content: s;
    align-content: 
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}